<ion-content>
  <!-- Modal para editar y guardar proveedores -->
  <ion-modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelar()">Cancelar</ion-button>
          </ion-buttons>

          <ion-buttons slot="end">
            <ion-button (click)="confirmar()" [strong]="true">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Ingrese el nombre</ion-label>
          <ion-input type="text" placeholder="Nombre" maxlength="100" [(ngModel)]="proveedor.Nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Ingrese la razon social</ion-label>
          <ion-input type="text" placeholder="Razon social" maxlength="100" [(ngModel)]="proveedor.RazonSocial">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Ingrese una direcci&oacute;n</ion-label>
          <ion-input type="text" placeholder="Direccion" maxlength="100" [(ngModel)]="proveedor.Direccion"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Lista de proveedores -->
  <ion-grid fixed>
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <ion-button (click)="abrir()">
          <ion-icon name="person-add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of proveedores; let i = index">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <!-- <ion-card-title><strong>Id:</strong> {{item.Id}}</ion-card-title> -->
            <ion-card-title><strong>Nombre:</strong> {{item.Nombre}}</ion-card-title>
            <ion-card-subtitle><strong>Razon Social:</strong> {{item.RazonSocial}}</ion-card-subtitle>
            <ion-card-subtitle><strong>Direccion:</strong> {{item.Direccion}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-end">
            <ion-button (click)="editar(i)">
              <ion-icon name="pencil"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="mostrarConfirmacion(i)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="proveedores.length == 0" class="ion-text-center">
      <ion-col size="12">
        No hay proveedores
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Scroll infinito permite cargar por lotes -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarMasProveedores($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>