<ion-content>
    <ion-grid class="ion-text-center">
        <ion-row>
            <ion-col size="12">
                <div class="container">
                    <ion-img src="../../../assets/img/logo.png"></ion-img>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                {{bienvenido.Informacion}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button (click)="continuar()"  shape="round">
                    Continuar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>